h1 {
    color: rgb(138, 58, 71);
    font-size: 45px;
    font-weight: bold;
    text-shadow:
        2px 2px 0 #fff,
        4px 4px 0 #81b6ed,
        6px 6px 0 #4447a2;
}


body {
    background-color: #98a8c5;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
/*color is called iguana green or was [#9CB07]*/

header {
    text-align: center;
}

html {
    margin: 0 15%;
}

nav {
    background-color: bisque;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* centers the menu items */
}

/* Each menu item */
nav li {
  margin: 0 20px;
}

/* Style the links */
nav a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

/* Hover effect */
nav a:hover {
  color: #ff9800;
}

@media (max-width: 600px) { /* the @media is used to modify to different screen sizes, essentially creating a responsiveness to the device*/
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 10px 0;
  }
}


body {
    margin: 0;
    
}

p {
    background-color: bisque;

}

div {
    background-color: bisque;
}